@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

.header{
  width: 100%;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  .header-wrapper{
    width: 100%;
    height: 100vh;

    h3{
      color: white;
      position: absolute;
      font-weight: 700;
      top: 20px;
      left: 20px;
    }
    svg{
      
      mask{
        width: 100%;
        height: 100%;
        text{
          font-size: 9em;
          margin: 15px 0px;
          fill: #000;
          font-weight: 900;
          @media screen and (max-width:1200px){
            font-size: 5em
          }
        }
      }
      rect{
        mask: url('#maskLayer')
      }
    }

    #bg{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .header-bottom{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height:10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;

      .header-bottom--audio{
        width: 10%;
        display: flex;
        justify-content: space-around;

        div{
          margin-left: 10px;
        }
      }

      .header--bottom-reseaux{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:700px){
          width: 30%;
        }

        img{
          width: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}
