.containt-text{
  width: 100%;
  height: 75vh;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  @media screen and (max-width:700px){
    height: 100vh;
  }

  p{
    justify-self: flex-end;
    font-size: 18px;
    width: 78%;
  }

  img{
    width: 40%;

    @media screen and (max-width:700px){
      width: 70%
    }

  }

}

@media (max-width:800px){
  .containt-text{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .text{
    width: 50%
  }
}