@import './Header/header.scss';
@import './Text/text.scss';
@import './SingerBubble/singerbubble.scss';
@import './TextDescrip/textDescrip.scss';
@import './Number/number.scss';
@import './TextParagraphe/TextParagraphe.scss';
@import './Footer/footer.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: white;
  color: black;
  
}
// .app-text{
//   text-align: justify;
//   width: 100%;
//   height: 60vh;
//   border: 1px solid green;
//   height: 20px;
//   display: flex;
//   justify-content: center;
//   font-size: 18px;
//   p{
//     width: 78%;
//   }
  
// }





